.h1 {
  margin: 20px 0 20px !important;
}
.load-more {
  margin: 30px !important;
}
.pic-all-pics {
  /* Prevent vertical gaps */
  line-height: 0;
    
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}
.pic-container { 
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 5px;
}
.pic-img {
  width: 100% !important;
  border-radius: 5px;
  height: auto !important;
}
.search-form {
  
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-button {
  border-radius: 10px;
}
.search-input {
  margin-right: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
